:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    /* line-height: 1.5; */
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    color-scheme: light dark;
    color: #fff;
    background-color: var(--background);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --main-color: #001f3d;
    --secondary-color: #045174;
    --contrastText: #fff;
    --shadedText: #d0d0d0;
    --shadedTextHeader: #b9b9b9;
    --contrastTextDark: #000;
    --error: #ff0000;
    --orange-color: #fa9939;
    --info: #f8dcbf;
    --success: #156401;
    --background: #242424;
    --height: 80vh;
    --thinwidth: 1028px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.provider {
    background-image: linear-gradient(
        to right bottom,
        var(--background) 30%,
        var(--main-color) 50%,
        var(--secondary-color) 20%
    );
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* ErrorPage */
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background);
}

.error-icon {
    font-size: 10rem;
    color: #f44336;
}

.error-message {
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: center;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}
.skillsImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 7vh;
    z-index: 2;
}
.skillHeader {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--shadedTextHeader);
    border-bottom: solid 2px var(--secondary-color);
    margin: 1rem;
    padding: 0;
    z-index: 2;
}
.skillBody {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--shadedText);
    margin: 1rem;
    text-align: center;
    z-index: 2;
}
.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #87ceeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.button:hover {
    color: #87ceeb;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.button:hover::before {
    transform: scale(1);
}

.button:active {
    transform: scale(0.95);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card {
    width: 400px;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
}

.title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.btn {
    background: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: whitesmoke;
    background-color: #fa709a;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    cursor: pointer;
}

.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg, rgba(47, 184, 255, 0.42) 31.77%, #5c9df1 100%);
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}
.blob:hover {
    width: 520px;
    height: 520px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6), inset 100px 100px 0 0px #fa709a,
        inset 200px 200px 0 0px #784ba8, inset 300px 300px 0 0px #2b86c5;
}

@-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}
/*StickyHeader */
.stickyHeaderMain {
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 0.1vh;
}
.stickyHeaderIcons {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: end;
    align-items: center;
}

.stickyHeaderIconButton {
    margin: 1rem;
    background: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.stickyHeaderIcon {
    height: 5vh;
    width: 5vh;
}
.stickyHeaderMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stickyHeaderLink {
    color: var(--shadedText);
    font-size: 1.2rem;
    font-weight: 500;
    animation: fadeIn 3s;
    padding: 0.5rem;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Contact */
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    z-index: 10;
}

.formTitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.formSubtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    background-color: #15172b;
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
.input:focus ~ .placeholder {
    color: var(--contrastText);
}
.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}
.seeThrough {
    opacity: 0.2;
}
/*To Delete*/
/* At time of writing file length is 584 lines */
